# ! IMPORTANT !
# After updating requirements, please generate the Docker image with the following command:
# cd docker && ./create-docker-images.sh
halo
colorama
rich
python-gitlab
python-dotenv
flatdict
pyyaml
bash
pytest
pytest_xdist
pytest-instafail
debugpy
filelock
humanfriendly
hvac
yamllint
beaupy
thefuzz