services:
  registry:
    restart: always
    image: rpardini/docker-registry-proxy:latest
    ports:
      - 3128:3128
    volumes:
      - registry-cache:/docker_mirror_cache
    environment:
      MANIFEST_CACHE_DEFAULT_TIME: "12h"
      MANIFEST_CACHE_PRIMARY_TIME: "12h"
      MANIFEST_CACHE_SECONDARY_TIME: "24h"
      ENABLE_MANIFEST_CACHE: "true"

volumes:
  registry-cache:
